<div>
  <link href="./projects.css" rel="stylesheet" />
  <div class="projects-blog-post-card">
    <img
      alt="image"
      src=""
      class="projects-image"
    />
    <div class="projects-container">
      <span class="projects-text"><span>ENTERPRISE</span></span>
      <span class="projects-text1">
        <span>blabla</span>
      </span>
      <span class="projects-text2">
        <span>
          blablabla
        </span>
      </span>
      <div class="projects-container1">
        <div class="projects-profile">
          <img
            alt="profile"
            src="public/playground_assets/9d30282e-03e9-42ab-8204-ffed2b0c7ced_1_201_a-200w.jpeg"
            image_scr=""
            class="projects-image1"
          />
          <span class="projects-text3"><span>Johanna De Souza</span></span>
        </div>
      </div>
    </div>
  </div>
</div>
